.item.item--cart
	img.item__image(src="img/vacs-bag/vacs-bag-detail-03-tn.jpg")
	.item__content
		.item__name
			strong ELECTROLUX S-bag #{__discount}
			.item__benefit #{__bonus__transport}
			.item__benefit #{__bonus__delivery}
			.item__benefit #{__bonus__filter}
		.item__price.item__price--piece 230 #{__currency}
		.item__stepper
			.stepper 20x
		.item__price.item__price--total 9200 #{__currency}
